.color-btn{
    background-color: rgb(254, 255, 222);
}
.card-img-top-style{
    width:0rem;height:0rem

}
.color-circle{
    background:red;width: 2rem;height: 2rem;border-radius: 50%
}
.card-main-product{
    border-radius:3rem ;width:23rem;height:26rem
}
.card-img-lg{
    height:20rem;
    width:20rem;
    border-radius: 1rem 0 0 1rem;
}
@media screen and (max-width: 750px) {
    .color-btn{
        background-color: rgb(254, 255, 222);
    }
    .color-circle{
        background:red;width: 2rem;height: 2rem;border-radius: 50%
    }
    .card-main-product{
        border-radius:3rem ;width:23rem;height:40rem
    }
    .card-img-lg{
        height:0rem;
        width:0rem;
        border-radius: 1rem 0 0 1rem;
    }
    .card-img-top-style{
        margin-right: 1rem;
        margin-top: 1rem;
        border-radius: 2rem;
        /* margin-left: 1rem; */
        width:16rem;
        height:13rem;
    }
  }